.form-horizontal .form-body .form-group.form-md-line-input {
   padding-top: 0px;
}

.multiple-select .btn.dropdown-toggle.bs-placeholder.btn-default{
   border: 0 !important;
   border-bottom: 1px solid #327ad5 !important;
}

.btn-group>.btn:not(.md-skip) {
   box-shadow: none;
}

.portlet .tools > a.collapse {
   color: white;
}